S3method(detect_vocalization,default)
S3method(detect_vocalization,lys)
S3method(create_template,default)
S3method(create_template,lys)
S3method(detect_template,default)
S3method(detect_template,lys)
S3method(print,lys)
S3method(summary,lys)
export(animate_sessions_sweep)
export(animate_vocalization_sessions)
export(assign_recording_sessions)
export(create_audio_clip)
export(create_lys_metadata)
export(create_lys_object)
export(create_template)
export(detect_vocalization)
export(detect_template)
export(get_wav_indices)
export(label_vocalization)
export(map_vocalization_sessions)
export(parse_sap_filename)
export(register_template)
export(visualize_song)
