S3method(detect_vocalization,default)
S3method(detect_vocalization,lys)
S3method(print,lys)
S3method(summary,lys)
export(assign_recording_sessions)
export(create_lys_metadata)
export(create_lys_object)
export(detect_vocalization)
export(parse_sap_filename)
export(register_template)
